/*------------------------------------*\
    #TABLES
\*------------------------------------*/

/**
 *  Some useful helpers for common table patterns e.g.:
 *
	<table class="o-table o-table--fixed o-table--cells">
	<thead>
		<tr>
			<th>Foo</th>
			<th>Bar</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Foo</td>
			<td>Bar</td>
		</tr>
	</table>
 *
 * Extend this object in your components.
 */

// Predefine the variables below in order to alter and enable specific features.
$o-table-padding--compact:  quarter($inuit-base-spacing-unit) !default;
$o-table-padding--cosy:     halve($inuit-base-spacing-unit) !default;
$o-table-padding--comfy:    $inuit-base-spacing-unit !default;

$o-table-border-width:      1px !default;
$o-table-border-style:      solid !default;
$o-table-border-color:      #ccc !default;

$o-table--fixed:     false !default;
$o-table--compact:   false !default;
$o-table--cosy:      false !default;
$o-table--comfy:     false !default;
$o-table--cells:     false !default;
$o-table--rows:      false !default;
$o-table--columns:   false !default;





.o-table {
    width: 100%;
}





@if ($o-table--fixed == true) {

    /**
     * Force tables into having equal-width columns.
     */
    .o-table--fixed {
        table-layout: fixed;
    }

}





@if ($o-table--compact == true) {

    /**
     * Tables with very tightly packed cells.
     */
    .o-table--compact {

        th,
        td {
            padding: $o-table-padding--compact;
        }

    }

}





@if ($o-table--cosy == true) {

    /**
     * Lightly packed cells.
     */
    .o-table--cosy {

        th,
        td {
            padding: $o-table-padding--cosy;
        }

    }

}





@if ($o-table--comfy == true) {

    /**
     * Tables with very widely padded cells.
     */
    .o-table--comfy {

        th,
        td {
            padding: $o-table-padding--comfy;
        }

    }

}





@if ($o-table--cells == true) {

    /**
     * Add borders around a `table`.
     */
    .o-table--cells {

        th,
        td {
            border: $o-table-border-width $o-table-border-style $o-table-border-color;
        }

    }

}





@if ($o-table--rows == true) {

    /**
     * Add borders only to `table`’s rows.
     */
    .o-table--rows {

        &,
        th,
        td {
            border: 0 $o-table-border-style $o-table-border-color;
        }

    }

    .o-table--rows {
        border-top-width: $o-table-border-width;

        th,
        td {
            border-bottom-width: $o-table-border-width;
        }
    }

}





@if ($o-table--columns == true) {

    /**
     * Add borders only to `table`’s columns.
     */
    .o-table--columns {

        &,
        th,
        td {
            border: 0 $o-table-border-style $o-table-border-color;
        }
    }

    .o-table--columns {
        border-left-width: $o-table-border-width;

        th,
        td {
            border-right-width: $o-table-border-width;
        }
    }

}
